body{
  font-family: Arial,Sans-Serif,;
  background: #D6F4ED;
  padding: 20px;
  text-align: justify;
}
.container{
  max-width: 800px;
  margin: auto;
  background:#fff;
  padding: 20px;
  border-radius: 10px;
}
h1,h2{
  margin-top: 20px ;
  color: #87BAC3;
}

.box{
  width: 200px;
  padding: 10px;
  border: 4px solid #fff;
  margin: 10px 0;
  background:#87BAC3;
}
.float-img{
  float: right;
  width: 240px ;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}
.clearfix::after
{
  content: "";
  display: block;
  clear: both;
  
}
